.label {
  font-size: 14px;
  font-family: New_Zelek;
  margin-right: 10px;

  &.purpur {
    color: #dfadff;
  }

  &.neon {
    color: #7cf0f0;
  }
}

.input {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid #b1b1b1;
}
