.label {
  font-size: 14px;
  font-family: New_Zelek;
  margin-right: 10px;
  &.purpur {
    color: #DFADFF;
  }
  &.neon {
    color: #7CF0F0;
  }
}
.input {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid #B1B1B1;
}