$offset-base-size: 4px;


$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #b0b0b0;

$color-error: red;
$color-bg-neon: #10222e;
$color-bg-murmur: #05151d;

$dialog-gradient: linear-gradient( -45deg, #321642, #a083b4)
