$offset-base-size: 4px;


$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #b0b0b0;
$color-yellow: #FEDF3E;
$color-violet: #E2B0FF;
$color-neon: #2BFFFB;
$color-orange: #FB7C45;

$color-error: #ef6a6a;
$color-bg-neon: #10222e;
$color-bg-purple: #05151d;

$dialog-gradient: linear-gradient( -45deg, #321642, #a083b4)
