.layout {
  position: fixed;
  width: 76vw;
  height: 100vh;
  left: 0;
  top: 0;

  z-index: 1000;

  &.purple {
    background: rgba(44, 29, 66, 0.5);
  }

  &.neon {
    background: rgba(29, 66, 66, 0.5);
  }

  .modal {
    position: relative;

    &_close {
      position: absolute;
      right: 35px;
      top: 30px;
      background: transparent;
      border: none;

      cursor: pointer;
    }

    &_wrapper {
      position: relative;
      display: block;
      width: 70vw;
      height: 90vh;
      margin: 5vh auto;
      border: 1px solid #ffffff;

      &_purple {
        background: #2c1d42;
      }

      &_neon {
        background: #1d4242;
      }

      &::before {
        content: url("../../../../assets/images/window-bl-large.svg");
        position: absolute;
        left: 0;
        bottom: -15px;
        pointer-events: none;
      }

      &::after {
        content: url("../../../../assets/images/window-rt-large.svg");
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
      }
    }

    &_header {
      width: 467px;
      text-align: center;
      margin: 26px auto;
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-family: New_Zelek;
      text-transform: uppercase;
    }
  }

  .topic {
    display: block;
    width: 64vw;
    height: 70vh;
    overflow-y: scroll;
    padding: 18px 24px;
    margin: 0 auto;
    margin: 15px 50px;

    &_purple {
      background: #bb6aea30;
    }

    &_neon {
      background: #71aea030;
    }

    &_descr {
      white-space: pre-wrap;
      color: #fff;
      font-size: 20px;
      font-weight: 500;

      &_input {
        white-space: normal;
        width: 100%;
        background: #FFFFFF20;
        color: #FFFFFF;
        font-size: 20px;
      }

      &_footer {
        margin-top: 15px;
        margin-left: 95%;

        button {
          background: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }

    &_comments {
      position: relative;
      margin-top: 10px;
      margin-left: 30px;

      &::before {
        position: absolute;
        top: -10px;
        left: -10px;
        content: "";
        width: 60vw;
        height: 1px;
        background: #ffffff50;
      }
    }

    &_empty {
      color: rgba(255, 255, 255, 0.8);
      font-size: 15px;
      font-family: Blender Pro;
      font-weight: 500;
      line-height: 100%;
    }

    &_input {
      position: relative;
      width: 52vw;
      margin-top: 15px;
      border: 1px solid rgba(255, 255, 255, 0.19);
      border-radius: 5px 0 0 5px;
      margin-left: -30px;
    }

    &_comment {
      margin-top: 15px;
      width: 350px;
    }
  }
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.emoji_wrap {
  display: flex;
  padding: 16px 0;
}

.emoji_list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 16px;
}

.emoji_item {
  display: inline-block;
  position: relative;

  &.active {
    div {
      opacity: 1 !important;
    }
  }
}

.emoji_counter {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
