CLIENT_PORT=3000
SERVER_PORT=3001

POSTGRES_HOST=postgres
POSTGRES_USER=cyb-user
POSTGRES_PASSWORD=sdfsdfSDFdsf334ssd
POSTGRES_DB=cyb
POSTGRES_PORT=5432
POSTGRES_LOCAL_PORT=5433

PGADMIN_LISTEN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@cyberforest.ru
PGADMIN_DEFAULT_PASSWORD=gfhjkm
PGADMIN_ENABLE_TLS=True
SCRIPT_NAME=/pgadmin

YANDEX_OAUTH_CLIENT_ID=b78539a1fbf841339d5d675c7f64f954
YANDEX_OAUTH_CLIENT_SECRET=d6ebca91e9f045bc8b0278cf3d18fde2
