.wrapper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 24px;

  &_themetoggle {
    position: relative;
    height: 57px;

    span {
      font-size: 20px;

      &.left, 
      &.right {
        display: inline-block;
        position: absolute;
        width: 50% !important;
      }
    }

    .left {
      top: 3px;
      left: 5px;
    }

    .right {
      bottom: -10%;
      right: 14%;
    }

    label.switch {
      margin-top: 25px;
    }
  }

  .switch {
    position: absolute;
    top: 1px;
    right: 120px;
    display: inline-block;
    width: 22px;
    height: 11px;
    bottom: 14px;

    label {
      margin-top: 5px;
    }
  }

  &_label {
    width: 250px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    font-family: "New Zelek";
    line-height: 16px;

    .unactive {
      &_purpur {
        color: rgba(187, 106, 234, 0.65);
      }

      &_neon {
        color: #7cf0f065;
      }
    }

    .active {
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);

      &_purpur {
        color: #e2b0ff;
      }

      &_neon {
        color: #7cf0f0;
      }
    }
  }

  input {
    display: none;

    &:checked + .slider:before {
      -webkit-transform: translateX(9px);
      -ms-transform: translateX(9px);
      transform: translateX(9px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: none;

  &:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 9px;
    border-radius: 40px;
    border: 1px solid #ffffff;
    left: 1px;
    bottom: 1px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &_purpur {
    background-color: #bb6aea66;

    &:before {
      background-color: #bb6aea;
    }
  }

  &_neon {
    background-color: #7cf0f066;

    &:before {
      background-color: #7cf0f0;
    }
  }
}
