.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.inside {
		padding: 40px 100px;
		display: flex;
		align-items: center;
		flex-direction: column;

		.inputs {
			width: 305px;
			margin: 25px;
		}
	}
}

