@import "@scss/_variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .inside {
    padding: 40px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .inputs {
      width: 305px;
      margin: 25px;
    }

    .form_buttons {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .error {
      margin-top: 10px;
      color: $color-error;
      text-align: center;
    }
  }

  .oauth_btn {
    margin-top: 20px;
    cursor: pointer;
    background: transparent;
    border: none;

    display: flex;
    align-items: center;

    span {
      color: #FFF;
      font-family: "New Zelek";
      font-size: 14px;
      font-style: normal;

      text-transform: uppercase;

      &:hover {
        text-shadow: #DFADFF 1px 0 10px;;
      }
    }

    &_img {
      display: block;

      width: 30px;
      height: 30px;
      border-radius: 100%;

      margin-left: 15px;

      background: transparent;
      border: 1px solid $color-white;

      z-index: 1000;
    }

  }
}
