@import "@scss/_mixins.scss";
@import "@scss/_variables.scss";

.container {
  border: 1px solid $color-white;
  position: relative;
  display: inline-block;

  button {
    padding: 5px 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: $font-accent;
    color: $color-white;
  }

  &::before,
  &::after {
    content: "";
    width: 39px;
    height: 7px;
  }

  &::before {
    @include background-img-position;

    bottom: -1px;
    left: -1px;
    background-image: url(@images/button-lb.svg);
  }

  &::after {
    @include background-img-position;

    top: -1px;
    right: -1px;
    background-image: url(@images/button-rt.svg);
  }
}
