.personal {
  width: 573px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 21px;

  &_reversed {
    flex-direction: row-reverse;
    div {
      align-items: end;
      text-align: right;
    }
  }

  &_info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    &_img {
      margin-top: 10px;
      width: 170px;
      height: 170px;
      border-radius: 100%;
      border: 3px solid #FFF;
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.50);
    }

    &_name {
      color: #FFF;
      font-family: New_Zelek;
      font-size: 20px;
    }
    &_sub {
      color: rgba(255, 255, 255, 0.70);
      font-family: Blender Pro;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;

      margin-top: -5px;
    }
    &_text {
      color: #FFF;
      font-family: Blender Pro;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      margin-top: 10px;
    }
  }
}