@import "@scss/_variables.scss";
@import "@scss/_mixins.scss";

.control {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 148px;
  padding: 16px;
  padding-bottom: 0;
}

.btn {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  background-color: rgba(#BB6AEA, .85);
}

.guide_btn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &::before, &::after {
    content: none;
  }

  border: none;

  & button {
    position: relative;
    padding: 24px;
    padding-right: 45px;
    margin-left: auto;
    transition: text-shadow .2s;

    &::after {
      @include background-img-position;

      content: '';
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-image: url(@images/game/stock-wrap/dice.svg);
      transition: transform .2s;
    }

    &:hover {
      text-shadow: $text-glow-purple;
    }

    &:hover::after {
      transform: translateY(-50%) translateX(4px) scale(1.2);
    }
  }
}
