.comment {
  form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 30px;
    padding-top: 15px;
    margin-left: 40px;
  }

  &_response {
    display: block;
    width: 350px;
    height: 26px;
    position: relative;

    margin-left: 15px;

    color: #fff;
    font-size: 14px;
    font-family: Blender Pro;
    font-weight: 500;
    line-height: 14px;
    padding-left: 15px;

    &::placeholder {
      color: #ffffff70;
    }
    &_large {
      width: 450px;

      &_neon {
        background: #3fb7ea30;
        border: 1px solid #3fb7ea;
        border-radius: 2px;
      }

      &_purple {
        background: #bb6aea10;
        border: 1px solid #bb6aea;
        border-radius: 2px;
      }
    }

    &_neon {
      background: #3fb7ea30;
      border-bottom: 1px solid #3fb7ea;
    }

    &_purple {
      background: #bb6aea10;
      border-bottom: 1px solid #bb6aea;
    }

    &.active {
      width: 450px;
    }
  }

  &_send {
    width: 69px;
    height: 26px;
    border-radius: 3px;
    border: none;

    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-family: Blender Pro;
    font-weight: 500;
    line-height: 14px;

    cursor: pointer;

    &_purple {
      background: rgba(187, 106, 234, 0.2);
    }

    &_neon {
      background: rgba(63, 183, 234, 0.4);
    }

    &:hover {
      box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.5);
    }
  }
}
