.backdrop_root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1201;
  background-color: rgba(0, 0, 0, 0.5)
}
