@import "@scss/variables";

.glory {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px 113px 0 155px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 20px;
}

.second_desc {
  width: 533px;
}

.image_align {
  align-self: flex-start;
}

.top_images {
  display: flex;
  justify-content: space-between;
}

.arrow {
  position: absolute;

  &_1 {
    top: 171px;
    left: 231px;
    clip-path: inset(1px 1px 82px 1px);
  }

  &_2 {
    top: 108px;
    left: 794px;
    clip-path: inset(1px 1px 19px 1px);
  }

  &_3 {
    top: 475px;
    left: 214px;
    clip-path: inset(1px 1px 74px 1px);
    height: 100px;
  }

  &_4 {
    top: 507px;
    left: 190px;
    clip-path: inset(-37px 1px 73px 1px);
    transform: rotateZ(180deg);
  }
}
