.text_input {
  position: relative;

  display: block;
  width: 80%;
  min-height: 70%;

  border: 1px solid #ffffff40;

  margin: 15px auto;
  padding: 15px;

  color: #fff;

  font-family: Blender Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  &_label {
    color: #fff;
    margin: 10px 60px;
    text-align: center;
    font-family: New_Zelek;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}

.button {
  width: 215px;

  color: #fff;
  text-align: center;
  font-family: New_Zelek;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  &_purple {
    background: rgba(187, 106, 234, 0.65) !important;
  }
  &_neon {
    background: rgba(63, 183, 234, 0.65) !important;
  }
  &_container {
    margin-left: 40%;
  }
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.error {
  border-color: #F80202;
  animation: shake 0.6s;

  &_mess {
    display: block;
    font-size: 15px;
    color: #FFFFFF90;
    text-align: center;

    &_abs {
      position: absolute;
      top: 45px;
      left: -20px;
      color: #FFFFFF90;

      &_mini {
        position: absolute;
        font-size: 13px;
        top: 35px;
        left: 20px;
        color: #FFFFFF90;
      }
    }
  }
}
