@import "@scss/_variables.scss";

.wrap {
  position: relative;
  width: 100%;
  padding-left: 30px;
};

.symbol {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: $font-accent;
  font-size: 24px;
};

.desc {
  font-size: 13px;
};
