@import "@scss/_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;
  height: 100%;
  .header {
    color: rgba(238, 216, 255, 0.1);
    text-align: center;
    text-shadow: 0 0 1em #fff;
    font-size: 150px;
    font-family: "New Zelek";
    -webkit-text-stroke-width: 5px;
    &.purple {
      -webkit-text-stroke-color: #dcd0ea;
    }
    &.neon {
      -webkit-text-stroke-color: #7cf0f0;
    }
  }
  .image {
    display: block;
    margin: 0 auto;
  }
  .buttons_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    //margin-top: 50px;

    width: 650px;
    .nav_link {
      width: 297px;
      height: 60px;

      padding-top: 10px;

      position: relative;

      color: #ffffff;
      font-size: 32px;
      font-family: "New Zelek";
      text-align: center;
      text-transform: uppercase;
      &.purple {
        background: rgba(187, 106, 234, 0.6);
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6) inset,
          0px 0px 2px 1px rgba(255, 255, 255, 0.5);
        &:hover {
          box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
        }
      }
      &.neon {
        border: 1px solid #fff;
        background: rgba(124, 240, 240, 0.6);
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6) inset,
          0px 0px 2px 1px rgba(255, 255, 255, 0.5);
        &:hover {
          box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
        }
      }
      &:first-child {
        margin-right: 80px;
      }
      &:before {
        content: url(@images/button-link-big-lb.svg);
        display: block;
        position: absolute;
        bottom: -9px;
        left: 0;
      }
      &:after {
        content: url(@images/button-link-big-rt.svg);
        display: block;
        position: absolute;
        top: -15px;
        right: 0;
      }
    }
  }
  .sub_nav_link {
    display: block;

    font-size: 17px;
    font-family: $font-main;
    font-weight: 500;
    opacity: 0.7;
    position: absolute;
    bottom: 30px;
    right: 50px;
    &:hover {
      opacity: 1;
    }
  }

  .oauth_btn {
    cursor: pointer;
    background: transparent;
    border: none;

    display: flex;
    align-items: center;
   color: #FFF;
    font-family: "New Zelek";
    font-size: 24px;
    font-style: normal;

    text-transform: uppercase;

    &:hover {
      text-shadow: #DFADFF 1px 0 10px;;
    }

    &_img {
      display: block;

      width: 30px;
      height: 30px;
      border-radius: 100%;

      margin-left: 15px;

      background: transparent;
      border: 1px solid $color-white;

      z-index: 1000;
    }

  }
}
