.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #10222e;
}

ul {
  margin: 0 auto;
  width: 1440px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  color: #b0b0b0;
  padding: 5px 10px;
  cursor: pointer;
}

li:hover {
  color: #fff;
}

.active {
  color: black;
  padding: 5px 10px;
  background: white;
  border-radius: 5px;
}

.active:hover {
  color: black;
}
