.subcomment {

  &_wrapper {
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
  }

  &_avatar {
    width: 53px;
    height: 53px;
    border-radius: 100px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }

  &_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .name {
      text-align: right;
      font-size: 14px;
      font-family: New_Zelek;
      text-transform: uppercase;

      margin-right: 5px;

      &_neon {
        color: #7cf0f0;
      }

      &_purple {
        color: #e2b0ff;
      }
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;
    }

    .time {
      color: rgba(255, 255, 255, 0.8);
      font-size: 15px;
      font-family: Blender Pro;
      font-weight: 500;
      line-height: 100%;
    }
  }
}
