@import "@scss/_variables.scss";
@import "@scss/_mixins.scss";

.dice_side {
  @include glow-for-smile;
  @include content-center;

  width: 60px;
  height: 60px;
  border-color: #E2B0FF;
  font-size: 40px;
  background-color: rgba(#BB6AEA, .2);
}
