.card {
  border: 3px solid #EAA92B;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.25);
  padding: 17px 23px 10px;
}

.title {
  color: #EAA92B;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.text {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
