.comment {
  &_wrapper {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 12px;
  }

  &_avatar {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }

  &_body {
    display: flex;
    flex-direction: column;
    align-items: start;
    //justify-content: start;
    font-size: 20px;
  }

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;

    &_btn {
      cursor: pointer;
      border: none;
      background: transparent;
    }
  }

  &_like_btn {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;

    background: transparent;
    color: #ffffff;

    font-size: 15px;
    font-family: Blender Pro;
    font-weight: 500;

    border: none;
    cursor: pointer;
  }

  &_comments {
    margin-left: 10px;
  }
}

.flex {
  &_row {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
}
