@import "../../../core/scss/_variables.scss";
.container {
	position: relative;
	margin-bottom: 12px;
	margin-top: 12px;
	.bottom {
		position: absolute;
		right: 0;
		bottom: -10px;
	}


}

.placeholder {
	left: 0px;
	top: 3px;
	color: $color-white;
	font-size: 20px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 20%;
	transition: transform 200ms, color 200ms;
}
input {
	padding: 3px;
	font-size: 20px;
	width: 100%;
	border-bottom: 1px solid $color-white;
	color: $color-white;
	&::placeholder {
		color: $color-gray;
	}

	&:focus {
		//border-bottom: 2px solid var(--primary-color);
		//background-color: white;
	}

	&:focus ~ .placeholder,
	&:not(:placeholder-shown) ~ .placeholder {
		transform: translateY(-15px) scale(0.6);
		color: $color-white;
	}
}
.error {
	font-size: 12px;
	position: absolute;
	bottom: -15px;
	color: $color-error;
}


