.leader_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 880px;
  padding: 20px 8px 20px 20px;
  margin: 0 auto;
  overflow-y: auto;
  max-height: calc(100vh - 220px);
}

.user_row {
  display: grid;
  grid-template-columns: 60px 1fr 200px;
  position: relative;
  height: 60px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);

  &::before,
  &::after {
    width: 55px;
    height: 20px;
    z-index: 3;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    background-image: url("./assets/top-right-corner.svg");
    position: absolute;
    top: 0;
    right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("./assets/bottom-left-corner.svg");
    bottom: -3px;
    left: 0;
  }
}

.avatar {
  width: 100%;
  height: 100%;
  border: 1px solid #e2b0ff;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
  background: rgba(44, 30, 67, 0.3);
}

.name_wrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.points_wrapper {
  border: 1px solid #fff;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no_leaders_title, .error_title {
  text-align: center;
}

.no_leaders_wrapper, .error_wrapper {
  margin-top: 50px;
}
