@import "@scss/variables";

.navigation_button {
  font-family: $font-accent;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #FFF;
  padding: 6px 0;
  width: 121px;
  text-align: center;
  transition: all .1s linear;
  position: relative;
  &:active {
    opacity: 0.7;
  }
  &:hover {
    border: 1px solid transparent !important;
    background: transparent !important;
    svg {
      opacity: 0 !important;
    }
  }

  &.neon {
    background: linear-gradient(135deg, #71AEA0 0%, #45404E 51.04%, #192349 100%);
  }

  &.purple {
    background: linear-gradient(135deg, #2C1D42 0%, #45365D 51.04%, #4A2957 100%);
  }

  &.active {
    background: none;
    border: 1px solid transparent;

    svg {
      opacity: 0;
    }
  }
}

.top_left_corner {
  position: absolute;
  transition: all linear .2s;
  transform: rotateZ(90deg);
  top: -2px;
  left: 0;
}

.bottom_right_corner {
  position: absolute;
  transition: all linear .2s;
  transform: rotateZ(90deg);
  bottom: -3px;
  right: 1px;
}
